<template>
    <v-layout align-center justify-center>
    <v-flex xs12 sm8 md6 lg5 xl4>
        <v-card>
            <v-toolbar dark color="blue darken-3">
            <v-toolbar-title>
                Crear Reserva
            </v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-text-field v-model="text" autofocus color="accent" label="Nombre" required>
                </v-text-field>
               <v-text-field v-model="number" autofocus color="accent" label="Cedula" required>
                </v-text-field>
                <v-layout>Fecha</v-layout>
                <v-sheet>
                <v-sheet height="200">
                <v-calendar></v-calendar>
                </v-sheet>
                </v-sheet>
            </v-card-text>
            <v-card-actions class="px-3 pb-3">
            <v-flex text-xs-right>
            <v-btn color="primary">Enviar</v-btn><br>
            <br>
            <a href="/">¿Ya tienes una reserva? Consulta aqui </a>
            </v-flex>
            </v-card-actions>
        </v-card>
        </v-flex>

    </v-layout>
</template>
