<template>
    <v-layout align-center justify-center>
    <v-flex xs12 sm8 md6 lg5 xl4>
        <v-card>
            <v-toolbar dark color="blue darken-3">
            <v-toolbar-title>
                Olvido de contrasenia
            </v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-text-field v-model="email" autofocus color="accent" label="Email" required>
                </v-text-field>
            </v-card-text>
            <v-card-actions class="px-3 pb-3">
            <v-flex text-xs-right>
            <v-btn color="primary">Enviar</v-btn><br>
            <br>
            <a href="/">¡Ingresa aquí!</a>
            </v-flex>
            </v-card-actions>
        </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
  data () {
    return {
      email: ''
    }
  }
}
</script>
