<template>
    <v-layout align-start>
        <v-flex>
            <v-toolbar flat color="white">
                <v-toolbar-title>Parqueadero</v-toolbar-title>
                <v-divider
                class="mx-2"
                inset
                vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <v-dialog v-model="adModal" max-width="290">
                    <v-card>
                        <v-card-title class="headline" v-if="adAccion==1">
                            Activar Item
                        </v-card-title>
                        <v-card-title class="headline" v-if="adAccion==2">
                            Desactivar Item
                        </v-card-title>
                        <v-card-text>
                            Estás a punto de <span v-if="adAccion==1">activar </span>
                            <span v-if="adAccion==2">desactivar </span> el item {{adNombre}}
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn @click="activarDesactivarCerrar()" color="green darken-1" flat="flat">
                                Cancelar
                            </v-btn>
                            <v-btn v-if="adAccion==1" @click="activar()" color="orange darken-4" flat="flat">
                                Activar
                            </v-btn>
                            <v-btn v-if="adAccion==2" @click="desactivar()" color="orange darken-4" flat="flat">
                                Desactivar
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
            <v-data-table
                :headers="headers"
                :items="categorias"
                :search="search"
                class="elevation-1"
            >
                <template v-slot:items="props">
                <td class="justify-center layout px-0">
                    <v-icon
                    small
                    class="mr-2"
                    @click="editItem(props.item)"
                    >
                    edit
                    </v-icon>
                    <template v-if="props.item.estado">
                        <v-icon
                        small
                        @click="activarDesactivarMostrar(2,props.item)"
                        >
                        block
                        </v-icon>
                    </template>
                    <template v-else>
                        <v-icon
                        small
                        @click="activarDesactivarMostrar(1,props.item)"
                        >
                        check
                        </v-icon>
                    </template>
                </td>
                <td>{{ props.item.nombre }}</td>
                <td>{{ props.item.descripcion }}</td>
                <td>
                    <div v-if="props.item.estado">
                        <span class="blue--text">Activo</span>
                    </div>
                    <div v-else>
                        <span class="red--text">Inactivo</span>
                    </div>
                </td>
                </template>
                <template v-slot:no-data>
                <v-btn color="primary" @click="listar()">Resetear</v-btn>
                </template>
            </v-data-table>
        </v-flex>
    </v-layout>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      dialog: false,
      search: '',
      categorias: [],
      headers: [
        { text: 'Lugar', value: 'lugar', sortable: false },
        { text: 'Disponibilidad', value: 'disponibilidad', sortable: true }
      ],
      editedIndex: -1,
      id: '',
      nombre: '',
      descripcion: '',
      valida: 0,
      validaMensaje: [],
      adModal: 0,
      adAccion: 0,
      adNombre: '',
      adId: ''
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nuevo registro' : 'Editar registro'
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  created () {
    this.listar()
  },
  methods: {
    listar () {
      const me = this
      axios.get('categoria/list').then(function (response) {
        me.categorias = response.data
      }).catch(function (error) {
        console.log(error)
      })
    },
    limpiar () {
      this.id = ''
      this.nombre = ''
      this.descripcion = ''
      this.valida = 0
      this.validaMensaje = []
      this.editedIndex = -1
    },
    validar () {
      this.valida = 0
      this.validaMensaje = []
      if (this.nombre.length < 1 || this.nombre.length > 50) {
        this.validaMensaje.push('El nombre de la categoría debe tener entre 1-50 caracteres.')
      }
      if (this.descripcion.length > 255) {
        this.validaMensaje.push('La descripción de la categoría no debe tener más de 255 caracteres.')
      }
      if (this.validaMensaje.length) {
        this.valida = 1
      }
      return this.valida
    },
    guardar () {
      const me = this
      if (this.validar()) {
        return
      }
      if (this.editedIndex > -1) {
        // Código para editar
        axios.put('categoria/update', { id: this.id, nombre: this.nombre, descripcion: this.descripcion })
          .then(function (response) {
            me.limpiar()
            me.close()
            me.listar()
          })
          .catch(function (error) {
            console.log(error)
          })
      } else {
        // Código para guardar
        axios.post('categoria/add', { nombre: this.nombre, descripcion: this.descripcion })
          .then(function (response) {
            me.limpiar()
            me.close()
            me.listar()
          })
          .catch(function (error) {
            console.log(error)
          })
      }
    },
    editItem (item) {
      this.id = item.id
      this.nombre = item.nombre
      this.descripcion = item.descripcion
      this.dialog = true
      this.editedIndex = 1
    },
    activarDesactivarMostrar (accion, item) {
      this.adModal = 1
      this.adNombre = item.nombre
      this.adId = item.id
      if (accion === 1) {
        this.adAccion = 1
      } else if (accion === 2) {
        this.adAccion = 2
      } else {
        this.adModal = 0
      }
    },
    activarDesactivarCerrar () {
      this.adModal = 0
    },
    activar () {
      const me = this
      axios.put('categoria/activate', { id: this.adId })
        .then(function (response) {
          me.adModal = 0
          me.adAccion = 0
          me.adNombre = ''
          me.adId = ''
          me.listar()
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  },
  desactivar () {
    const me = this
    axios.put('categoria/activate', { id: this.adId })
      .then(function (response) {
        me.adModal = 0
        me.adAccion = 0
        me.adNombre = ''
        me.adId = ''
        me.listar()
      })
      .catch(function (error) {
        console.log(error)
      })
  },
  close () {
    this.dialog = false
  }
}
</script>
