<template>
    <v-layout align-start>
        <v-flex>
            <v-toolbar flat color="write">
                <v-toolbar-title>Usuarios</v-toolbar-title>
                <v-divider
                class="mx-2"
                inset
                vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <v-text-field class="text-xs-center" v-model="search" append-icon="search"
                label="Búsqueda" single-line hide-details></v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="500px">
                    <template v-slot:activator="{ on }">
                        <v-btn color="primary" dark class="mb-2" v-on="on">Nuevo</v-btn>
                    </template>
                    <v-card>
                        <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                        </v-card-title>
                        <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="nombre" label="Nombre">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-select v-model="rol"
                                    :items="roles" label="Rol">
                                    </v-select>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-select v-model="tipo_documento"
                                    :items="documentos" label="Tipo Documento">
                                    </v-select>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="num_documento" label="Número Documento">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="telefono" label="Teléfono">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field v-model="email" label="Email">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field type="password" v-model="password" label="Password">
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12 v-show="valida">
                                    <div class="red--text" v-for="v in validaMensaje" :key="v" v-text="v">
                                    </div>
                                </v-flex>
                            </v-layout>
                        </v-container>
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="close">Cancelar</v-btn>
                        <v-btn color="blue darken-1" flat @click="guardar">Guardar</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="adModal" max-width="290">
                    <v-card>
                        <v-card-title class="headline" v-if="adAccion==1">
                            Activar Item
                        </v-card-title>
                        <v-card-title class="headline" v-if="adAccion==2">
                            Desactivar Item
                        </v-card-title>
                        <v-card-text>
                            Estás a punto de <span v-if="adAccion==1">activar </span>
                            <span v-if="adAccion==2">desactivar </span> el item {{adNombre}}
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn @click="activarDesactivarCerrar()" color="green darken-1" flat="flat">
                                Cancelar
                            </v-btn>
                            <v-btn v-if="adAccion==1" @click="activar()" color="orange darken-4" flat="flat">
                                Activar
                            </v-btn>
                            <v-btn v-if="adAccion==2" @click="desactivar()" color="orange darken-4" flat="flat">
                                Desactivar
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
            <v-data-table
                :headers="headers"
                :items="usuarios"
                :search="search"
                class="elevation-1"
            >
                <template v-slot:items="props">
                <td class="justify-center layout px-0">
                    <v-icon
                    small
                    class="mr-2"
                    @click="editItem(props.item)"
                    >
                    edit
                    </v-icon>
                    <template v-if="props.item.estado">
                        <v-icon
                        small
                        @click="activarDesactivarMostrar(2,props.item)"
                        >
                        block
                        </v-icon>
                    </template>
                    <template v-else>
                        <v-icon
                        small
                        @click="activarDesactivarMostrar(1,props.item)"
                        >
                        check
                        </v-icon>
                    </template>
                </td>
                <td>{{ props.item.nombre }}</td>
                <td>{{ props.item.rol }}</td>
                <td>{{ props.item.tipo_documento }}</td>
                <td>{{ props.item.num_documento }}</td>
                <td>{{ props.item.telefono }}</td>
                <td>{{ props.item.email }}</td>
                <td>
                    <div v-if="props.item.estado">
                        <span class="blue--text">Activo</span>
                    </div>
                    <div v-else>
                        <span class="red--text">Inactivo</span>
                    </div>
                </td>
                </template>
                <template v-slot:no-data>
                <v-btn color="primary" @click="listar()">Resetear</v-btn>
                </template>
            </v-data-table>
        </v-flex>
    </v-layout>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      dialog: false,
      search: '',
      usuarios: [],
      headers: [
        { text: 'Opciones', value: 'opciones', sortable: false },
        { text: 'Nombre', value: 'nombre', sortable: true },
        { text: 'Rol', value: 'rol', sortable: true },
        { text: 'Tipo Documento', value: 'tipo_documento', sortable: true },
        { text: 'Número Documento', value: 'num_documento', sortable: false },
        { text: 'Teléfono', value: 'telefono', sortable: false },
        { text: 'Email', value: 'email', sortable: false },
        { text: 'Estado', value: 'estado', sortable: false }
      ],
      editedIndex: -1,
      id: '',
      nombre: '',
      rol: '',
      roles: ['Estudiante', 'Docente', 'Colaborador'],
      tipo_documento: '',
      documentos: ['CEDULA', 'NIT', 'PASAPORTE'],
      num_documento: '',
      telefono: '',
      email: '',
      password: '',
      valida: 0,
      validaMensaje: [],
      adModal: 0,
      adAccion: 0,
      adNombre: '',
      adId: ''
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nuevo registro' : 'Editar registro'
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  created () {
    this.listar()
  },
  methods: {
    listar () {
      const me = this
      const header = { Token: this.$store.state.token }
      const configuracion = { headers: header }
      axios.get('usuario/list', configuracion).then(function (response) {
        me.usuarios = response.data
      }).catch(function (error) {
        console.log(error)
      })
    },
    limpiar () {
      this.id = ''
      this.nombre = ''
      this.num_documento = ''
      this.telefono = ''
      this.email = ''
      this.password = ''
      this.valida = 0
      this.validaMensaje = []
      this.editedIndex = -1
    },
    validar () {
      this.valida = 0
      this.validaMensaje = []
      if (!this.rol) {
        this.validaMensaje.push('Seleccione un rol.')
      }
      if (this.nombre.length < 1 || this.nombre.length > 50) {
        this.validaMensaje.push('El nombre del usuario debe tener entre 1-50 caracteres.')
      }
      if (this.num_documento.length > 20) {
        this.validaMensaje.push('El documento no debe tener más de 20 caracteres.')
      }
      if (this.telefono.length > 20) {
        this.validaMensaje.push('El teléfono no debe tener más de 20 caracteres.')
      }
      if (this.email.length < 1 || this.nombre.length > 50) {
        this.validaMensaje.push('El email del usuario debe tener entre 1-50 caracteres.')
      }
      if (this.password.length < 1 || this.nombre.length > 64) {
        this.validaMensaje.push('El password del usuario debe tener entre 1-64 caracteres.')
      }
      if (this.validaMensaje.length) {
        this.valida = 1
      }
      return this.valida
    },
    guardar () {
      const me = this
      const header = { Token: this.$store.state.token }
      const configuracion = { headers: header }
      if (this.validar()) {
        return
      }
      if (this.editedIndex > -1) {
        // Código para editar
        axios.put('usuario/update', {
          id: this.id,
          rol: this.rol,
          nombre: this.nombre,
          tipo_documento: this.tipo_documento,
          num_documento: this.num_documento,
          telefono: this.telefono,
          email: this.email,
          password: this.password
        }, configuracion)
          .then(function (response) {
            me.limpiar()
            me.close()
            me.listar()
          })
          .catch(function (error) {
            console.log(error)
          })
      } else {
        // Código para guardar
        axios.post('usuario/add',
          {
            rol: this.rol,
            nombre: this.nombre,
            tipo_documento: this.tipo_documento,
            num_documento: this.num_documento,
            telefono: this.telefono,
            email: this.email,
            password: this.password
          }, configuracion)
          .then(function (response) {
            me.limpiar()
            me.close()
            me.listar()
          })
          .catch(function (error) {
            console.log(error)
          })
      }
    },
    editItem (item) {
      this.id = item.id
      this.rol = item.rol
      this.nombre = item.nombre
      this.tipo_documento = item.tipo_documento
      this.num_documento = item.num_documento
      this.telefono = item.telefono
      this.email = item.email
      this.password = item.password
      this.dialog = true
      this.editedIndex = 1
    },
    activarDesactivarMostrar (accion, item) {
      this.adModal = 1
      this.adNombre = item.nombre
      this.adId = item.id
      if (accion === 1) {
        this.adAccion = 1
      } else if (accion === 2) {
        this.adAccion = 2
      } else {
        this.adModal = 0
      }
    },
    activarDesactivarCerrar () {
      this.adModal = 0
    },
    activar () {
      const me = this
      const header = { Token: this.$store.state.token }
      const configuracion = { headers: header }
      axios.put('usuario/deactivate', { id: this.adId }, configuracion)
        .then(function (response) {
          me.adModal = 0
          me.adAccion = 0
          me.adNombre = ''
          me.adId = ''
          me.listar()
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    desactivar () {
      const me = this
      const header = { Token: this.$store.state.token }
      const configuracion = { headers: header }
      axios.put('usuario/deactivate', { id: this.adId }, configuracion)
        .then(function (response) {
          me.adModal = 0
          me.adAccion = 0
          me.adNombre = ''
          me.adId = ''
          me.listar()
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    close () {
      this.dialog = false
    }
  }
}
</script>
