<template>
    <v-layout align-start>
        <v-flex>
            <v-toolbar flat color="white">
                <v-toolbar-title> Vehiculo </v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-toolbar flat color="white">
            <v-text-field v-model="placa" autofocus color="accent" label="Placa" required>
                </v-text-field>
                <v-spacer></v-spacer>
                <v-text-field v-model="modelo" color="accent" label="Modelo" required>
                </v-text-field>
            </v-toolbar>
            <v-toolbar flat color="white">
            <v-text-field v-model="color" autofocus color="accent" label="Color" required>
                </v-text-field>
                <v-spacer></v-spacer>
                <v-text-field v-model="tipo" color="accent" label="Tipo de vehiculo" required>
                </v-text-field>
            </v-toolbar>
            <v-toolbar flat color="white">
            <v-text-field v-model="marca" autofocus color="accent" label="Marca" required>
                </v-text-field>
                <v-spacer></v-spacer>
                <v-text-field v-model="propietario" color="accent" label="Propietario" required>
                </v-text-field>
            </v-toolbar>
            <v-toolbar flat color="white">
                <v-spacer></v-spacer>
                 <v-btn color="primary" @click="guardar()">Guargar Vehiculo</v-btn>
                <v-spacer></v-spacer>
            </v-toolbar>
        </v-flex>
    </v-layout>
</template>

<script>
import axios from 'axios'
export default {
  name: 'vehiculo',
  data () {
    return {
      placa: '',
      modelo: '',
      color: '',
      tipo: '',
      marca: '',
      propietario: ''
    }
  },
  methods: {
    guardar () {
      const token = sessionStorage.getItem('Token')
      console.log(token)
      axios.post('http://ec2-18-218-124-150.us-east-2.compute.amazonaws.com:8181/registroVehiculo',
        {
          placa: this.placa,
          modelo: this.modelo,
          color: this.color,
          tipo: this.tipo,
          marca: this.marca,
          propietario: this.propietario
        }, {
          headers: {
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
            Authorization: `Bearer ${token}`
          }
        })
        .then((respuesta) => {
          return respuesta.data
        })
        .catch((error) => {
          this.errorM = error
          console.log(this.error)
        })
    }
  }
}
</script>

<style scoped>
.left {
  text-align: left;
}
</style>
